{% extends 'users/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}Join OpenCVE - {{ block.super }}{% endblock %}

{% block content %}

<div class="login-box">
    <div class="login-box-body">
        <div class="login-logo">
            <img src="{% static 'img/logo_full_48.png' %}" alt="Logo">
            <a href="{% url 'home' %}">OpenCVE.io</a>
        </div>
        <p class="login-box-msg"><strong>Register a new membership</strong></p>
        {% crispy form %}
        <p>&nbsp;</p>
        <div class="center">
            <span>Already have an account?</span>
            <a href="{% url 'login' %}">Sign in</a>
        </div>
    </div>
</div>

{% endblock %}